app-cart {
  background: #c6cced;
  height: auto;
  width: 90%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.cart-container {
  // min-width: 400px;
  margin-bottom: 30px;
}
.cart-item {
  margin-top: 8px;
  align-items: center; 
  font-size: 16px;

  > span {
    width: 100%;
    margin-right: 10px;
    overflow: auto;
	  overflow-wrap: break-word;
  }
  .cart-item-inner {
    flex: 1 150px; 
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    // min-width: auto;

    .cart-item-col {
      font-size: 20px;
      min-width: 37px;
      text-align: center;
      margin-left: 10px;
      // width: 60px;
      font-size: 16px;
      width: 37px;
      text-align: center;
      flex: 1;
    }
    input[type=number]{
      background-color: rgba(0, 0, 0, 0.096);
      border-radius: 2px;
      margin-bottom: 0px;
      padding: 5px;
      min-width: 60px;
    }
    .material-icons  {
      cursor: pointer;
      font-size: 30px;
      color: rgb(56, 7, 7);
      margin-left: 10px;
    }
    .cart-item-price {
      text-align: end;
      flex: 1 100%;
      margin-left: auto;
      }
  }
}

