<div class="cart-container">
	<h3>Cart</h3>
	<p><a routerLink="/shipping">Shipping prices</a></p>

	<div *ngIf="!items.length" class="cart-item">
		<span>
			<h2>Empty. Add something to your cart..</h2>
		</span>
	</div>

	<div class="cart-item" *ngFor="let item of items; index as productId">

		<span>
			<a [title]="item.name + ' details'" [routerLink]="['/products', item.id]">{{item.name}}</a>
		</span>

		<div class="cart-item-inner">
			<span class="cart-item-price">{{item.price * item.col | currency: 'UAH' : 'symbol-narrow'}}</span>
			<input type="number" #itemCol class="cart-item-col" min=1 max=99 value="{{item.col}}" (focusout)="
			  (itemCol.value<itemCol.min) ? itemCol.value=itemCol.min:''; 
			  (itemCol.value>99) ? itemCol.value=itemCol.max:''; 
			  item.col = itemCol.value;
			  " matInput required>
			<span (click)="delFromCart(productId)" class="material-icons">delete</span>
		</div>

	</div>

	<p><button mat-flat-button routerLink="/cart/order" *ngIf="items.length" color="primary">Make order</button></p>
	<!-- End CART -->



</div>