<h2>Products</h2>
<div class="product-list-container">
	<div class="product-list-item" *ngFor="let product of products; index as productId">
		

			<h3 [title]="product.name + ' details'" [routerLink]="['/products', productId]">
				{{ product.name }}
			</h3>
			<div [title]="product.name + ' details'" [routerLink]="['/products', productId]" class="product-list-item-image"
				[style]="'background-image:url(../../../assets/images/'+ product.image + ' );'">

			</div>

	
		<div class="product-list-item-price" *ngIf="product.price">
			{{ product.price | currency: 'UAH' : 'symbol-narrow' }}
		</div>


		<div class="product-list-item-container-buttons ">
			<button class="button-share" (click)="share(product)">Share</button>
			<button class="button-buy" (click)="addToCart(product)"><i _ngcontent-hqq-c71=""
				class="material-icons">shopping_cart</i>Buy</button>
			<!-- <app-product-alerts [product]="product" (notify)="onNotify(product)"></app-product-alerts> -->
		</div>
		<!-- <div class="product-list-item-container-buttons button-buy"> -->

			

		<!-- </div> -->

	</div>

</div>