<div class="order-container">
    <mat-vertical-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup" >
            <form [formGroup]="firstFormGroup">

                <ng-template class="form-label-name" matStepLabel>
                    {{setFirstFormLabel()}}
                </ng-template>

                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Enter your Name.." formControlName="firstCtrlName" required>
                    <div class="err">Error</div>
                    <mat-error *ngIf="firstCtrlName.invalid">Name wrong value</mat-error>
                </mat-form-field>

                <mat-divider></mat-divider>

                <mat-form-field appearance="fill">
                    <mat-label>Sername</mat-label>
                    <input matInput placeholder="Enter your Sername.." formControlName="firstCtrlSername" required>
                    <div class="err">Error</div>
                    <mat-error *ngIf="firstCtrlSername.invalid">Sername wrong value</mat-error>
                </mat-form-field>

                <mat-divider></mat-divider>

                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        placeholder="email@example.com" formControlName="firstCtrlEmail" required>
                    <div class="err">Error</div>
                    <mat-error *ngIf="firstCtrlEmail.invalid">Email invalid</mat-error>
                </mat-form-field>

                <mat-divider></mat-divider>

                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Telephone</mat-label>
                    <input matInput #telNum type="tel" formControlName="firstCtrlTel" (focusout)="checkTelFocusOut();"
                        pattern="^[\+38]{3}\(+[0-9]{3}\)+[0-9]{3}\-[0-9]{2}\-[0-9]{2}$" maxlength="19"
                        placeholder="+38(066)003-80-56" required>
                    <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
                    <div class="err">Error</div>
                    <mat-error *ngIf="firstCtrlTel.invalid">Mobile is wrong</mat-error>
                </mat-form-field>

                <mat-divider></mat-divider>
                
                <mat-form-field *ngIf="!fieldTownReadyBool" class="example-full-width adressFormGroup">
                    <mat-label>Loading...</mat-label>
                    <mat-select  formControlName="firstCtrlCity" 
                        #singleSelect required>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field *ngIf="fieldTownReadyBool" class="example-full-width adressFormGroup">
                    <mat-label>{{(fieldTownReadyBool) ? 'Town' : 'Loading...'}}</mat-label>
                    <mat-select formControlName="firstCtrlCity" (opened)="menuOpened()" (closed)="menuClosed()" 
                        (selectionChange)="townSelectChange()" #singleSelect required>

                        <mat-option style="text-overflow: ellipsis;">
                            <ngx-mat-select-search [formControl]="firstCtrlCityFilteringCtrl" [searching]="searching"
                                placeholderLabel="Find Town..." [noEntriesFoundLabel]="null">
                            </ngx-mat-select-search>
                        </mat-option>

                        
                        <div style="overflow: auto; ">
                            <!-- temSize="30" -->
                            <cdk-virtual-scroll-viewport itemSize="30" style="  height: 200px; width: 100%;">
                                <mat-option [title]="((item.Description) ? item.Description : item.name) + 
                                ((item.nNovaPoshta) ? ' | Novaposta' : '' ) +
                                ((item.nDelivery) ? ' | Delivery' : '' )"
                                    *cdkVirtualFor="let item of _dataStream, let i = index" class="town-virtual-scroll-item" 
                                    [value]="item">
                                <div *ngIf="(item.nNovaPoshta)" class="order-shipping-logo novaPoshta"></div>
                                <div *ngIf="(item.nDelivery)" class="order-shipping-logo delivery"></div>    
                                    {{
                                ((item.Description) ? item.Description : item.name) 
                            }}
                                </mat-option>
                            
                                <div *ngIf="searchNoneBool" class="noSearchLabel">
                                    No matching Town found..
                                </div>
             
                            </cdk-virtual-scroll-viewport>

                        </div>
                        <mat-option style="height: 0px;" *ngIf="selected" [value]="selected">{{((selected.Description) ? selected.Description : selected.name) }}
                        </mat-option>
                    </mat-select>
                    <div class="err">Error</div>
                    <mat-error *ngIf="firstFormGroup.controls['firstCtrlCity'].hasError('required')">You must make a
                        selection</mat-error>
                    <mat-error
                        *ngIf="firstFormGroup.controls['firstCtrlCity'].hasError('pattern') && !nativeSelectFormControl.hasError('required')">
                        Your selection is invalid
                    </mat-error>
                </mat-form-field>

                <mat-divider></mat-divider>

                <div>
                    <button class="formButton" mat-flat-button color="primary" matStepperNext>Next</button>
                </div>

            </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>{{setSecondFormLabel()}}</ng-template>
                <app-shipping shippingInfo=choose [(shippingCost)]="priceShipping" [(shippingHave)]="selected"
                    (onFormGroupChange)="onFormGroupChangeEvent($event)"></app-shipping>
                <div>
                    <button class="formButton" mat-flat-button color="primary" matStepperPrevious>Back</button>
                    <button class="formButton" mat-flat-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup" errorMessage="Address is required." aria-expanded="true" >
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>{{setThirdFormLabel()}}</ng-template>
                <mat-form-field class="adressFormGroup">
                    <mat-label>Address</mat-label>
                    <textarea placeholder="Ex. 1 Main St, New York, NY" rows=2 maxlength=80
                        formControlName="thirdCtrlAdress" matInput required></textarea>
                    <div class="err">Error</div>
                    <mat-error *ngIf="thirdCtrlAdress.invalid">Address is required</mat-error>
                </mat-form-field>

                <mat-divider></mat-divider>

                <div>
                    <button class="formButton" mat-flat-button color="primary" matStepperPrevious>Back</button>
                    <button class="formButton" mat-flat-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <mat-card>

                <mat-card-header></mat-card-header>
                <p>You are now done.</p>
                <mat-card-content>
                    <p>{{this.firstFormGroup.value | json}}</p>
                    <p>{{this.secondFormGroup.value | json}}</p>
                    <p>{{this.thirdFormGroup.value | json}}</p>
                </mat-card-content>

                <mat-card-actions>
                    <div>
                        <button class="formButton" mat-flat-button color="primary" matStepperPrevious>Back</button>
                        <button class="formButton" mat-flat-button color="primary"
                            (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-card-actions>

            </mat-card>
        </mat-step>
    </mat-vertical-stepper>

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Cart:</mat-card-title>
            <mat-card-subtitle>My Store</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div class="cart-item" *ngFor="let item of items; index as productId">

                <span>
                    <a [title]="item.name + ' details'" [routerLink]="['/products', item.id]">{{item.name}}</a>
                </span>

                <div class="cart-item-inner">
                    <span class="cart-item-col">
                        {{item.col}}
                    </span>
                    <span class="cart-item-price">{{item.price * item.col | currency: 'UAH' : 'symbol-narrow'}}</span>
                </div>

            </div>
            <p>Total: {{getSumPrice(items) | currency: 'UAH' : 'symbol-narrow'}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/cart">Edit cart</button>
            <!-- <button mat-button (click)="getLog()">SHARE</button> -->
        </mat-card-actions>

    </mat-card>


</div>
